<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fantasy Tracker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <form method = "POST" action = "./write_player">
        <input list = "names" type = "text" name = "id">
        <datalist id="names">
        </datalist>
        <input type = "submit" value = "add">
    </form>
    <form id = "go" onsubmit="return false">
        <input type = "text" name = "num" id = 'num'>
        <input type = "submit" value = "start">
    </form>
    <form method = "POST" action = "./delete_player">
        <input type = "text" name = "id">
        <input type = "submit" value = "delete">
    </form>
    <script src = "{{ url_for('static', filename='js/index.js')}}"></script>
</body>
</html>